<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="19.1.0" targetFramework="net461" />
  <package id="AspNet.ScriptManager.jQuery" version="3.6.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Bold.Licensing" version="4.1.81" targetFramework="net48" />
  <package id="jQuery" version="3.6.0" targetFramework="net40" />
  <package id="Microsoft.Net.Compilers" version="3.9.0" targetFramework="net40" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="19.2.0.44" targetFramework="net48" />
  <package id="Syncfusion.DocIO.AspNet" version="19.2.0.44" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="19.2.0.44" targetFramework="net48" />
  <package id="Syncfusion.OfficeChart.Base" version="19.2.0.44" targetFramework="net48" />
  <package id="Syncfusion.Pdf.AspNet" version="19.2.0.44" targetFramework="net48" />
  <package id="Syncfusion.Presentation.AspNet" version="19.2.0.44" targetFramework="net48" />
  <package id="Syncfusion.XlsIO.AspNet" version="19.2.0.44" targetFramework="net48" />
</packages>